<!DOCTYPE HTML>
<html>
    
<head>
    <% include partials/head %>

    <h1 className="h1">Hello user</h1>

<script type="text/javascript">
/*
window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Simple Date-Time Chart"
    },
    axisX:{
        title: "Timestamp",
        gridThickness: 2
    },
    axisY: {
        title: "Value"
    },
    data: [
    {        
        type: "area",
        dataPoints: [//array
        { x: 1332452, y: 10},
        { x: 1332466, y: 12},
        { x: 1332487, y: 14}
        /*
        { x: new Date(2012, 01, 7), y: 29},
        { x: new Date(2012, 01, 11), y: 41},
        { x: new Date(2012, 01, 13), y: 54},
        { x: new Date(2012, 01, 20), y: 66},
        { x: new Date(2012, 01, 21), y: 60},
        { x: new Date(2012, 01, 25), y: 53},
        { x: new Date(2012, 01, 27), y: 60}
    
        {Mising end comment}
        ]
    }
    ]
});

    chart.render();
}

*/




      
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>



<body>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>

<div class="text-center">
    <button class="btn btn-secondary" type="submit" id="show-metrics">
        Get metrics
    </button>
    <div id="metrics"></div>
   
    <button class="btn btn-secondary" type="submit" id="display-metrics">
        Update metrics
    </button>
    <div id="metrics"></div>
   
    <button class="btn btn-secondary" type="submit">
        Delete metrics
    </button>
    <div id="metrics"></div>

    <button class="btn btn-danger" type="submit" href="/login" onClick='document.location.href="/login"'>
        Log out
    </button>

    <div id="chartContainer" style="height: 280px; width: 100%;"></div>
    <button id="button">Update Chart Type</button>

</div>



</body>
</html>

<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="//www.amcharts.com/lib/3/amcharts.js"></script>
<script src="//www.amcharts.com/lib/3/serial.js"></script>
<script src="//www.amcharts.com/lib/3/themes/light.js"></script>

<script>
    $('#show-metrics').click((e) => {
    e.preventDefault();
    $.getJSON("/metrics", {}, (data) => {
        const content = data.map(d => {
        return 'timestamp: '+d.timestamp+', value: '+d.value+'';
        })
        $('#metrics').append(content.join("\n"));
        //console.log(content)
    });
    })



    $('#display-metrics').click((e) => {
    
    /*
      $.get("/metrics", function (data) {
      //console.log(data);
      let timestampValueArr = [];
      for (let i = 0; i < data.length; i++) {
        timestampValueArr.push({ "timestamp": parseInt(data[i].timestamp), "value": parseInt(data[i].value) });
        console.log(timestampValueArr);
        
       
    let data = {};
        console.log((+new Date(document.getElementById('date-value').value)));
        data.timestamp = (+new Date(document.getElementById('date-value').value));
        data.value = $('#metric-value').val();
        console.log(data);
        */

        $.ajax({
            dataType : "json",
            type: "POST",
            url: '/index',
            success: function(data)
            {
                console.log(data)
                let timestampValueArr = [];
                for (let i = 0; i < data.length; i++) {
                    timestampValueArr.push({ "timestamp": parseInt(data[i].timestamp), "value": parseInt(data[i].value) });
                    console.log(timestampValueArr);

                    var chart = new CanvasJS.Chart("chartContainer",
                    {

                        title:{
                        text: "User chart"
                        },
                        data: [
                        {
                        type: "line",

                        dataPoints: timestampValueArr

                        }
                        ]
                    });

                    chart.render();

            }
        }});
      //}})
    });



      
    /*
    window.onload = function () {
        console.log(timestampValueArr)
        var chart = new CanvasJS.Chart("chartContainer",{
            title :{
                text: "Metrics chart"
            },
            data: [{
                type: "line",
                //dataPoints : dps
                dataProvider : timestampValueArr,
                dataPoints: [
                    { label: timestamp, y: value }
                ]
            }]
        });
        chart.render();
    };

*/


/*
function myChart () {
    let timestampValueArr = [];
    console.log(data)
      for (let i = 0; i < data.length; i++) {
        timestampValueArr.push({ "timestamp": parseInt(data[i].timestamp), "value": parseInt(data[i].value) });
        console.log(timestampValueArr);
        

        var chart = new CanvasJS.Chart("chartContainer",
{
	title:{
		text: "Update chart type on button click",
	},
	data: [
	{
		type: "column",
        indexLabel: "{label} : {y}",
        indexLabelFontColor: "black",
		dataPoints: timestampValueArr
	}
	]
});
chart.render();


}};
*/





// This part is just a test code I tried, not important

/*
function chartTypeChanged() {
    
    chart.options.data[0].type = "line";   // you can update chart type here   
    chart.render();
}

var button = document.getElementById( "button" );
button.addEventListener( "click",  chartTypeChanged);






    })
});
*/
        
  </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> 