<!DOCTYPE HTML>
<html>
    
<head>
    <% include partials/head %>

    <h1 className="h1">Hello user</h1>

<script type="text/javascript">
/*
window.onload = function () {
    var chart = new CanvasJS.Chart("chartContainer",
    {
      title:{
        text: "Simple Date-Time Chart"
    },
    axisX:{
        title: "Timestamp",
        gridThickness: 2
    },
    axisY: {
        title: "Value"
    },
    data: [
    {        
        type: "area",
        dataPoints: [//array
        { x: 1332452, y: 10},
        { x: 1332466, y: 12},
        { x: 1332487, y: 14}
        /*
        { x: new Date(2012, 01, 7), y: 29},
        { x: new Date(2012, 01, 11), y: 41},
        { x: new Date(2012, 01, 13), y: 54},
        { x: new Date(2012, 01, 20), y: 66},
        { x: new Date(2012, 01, 21), y: 60},
        { x: new Date(2012, 01, 25), y: 53},
        { x: new Date(2012, 01, 27), y: 60}
    
        {Mising end comment}
        ]
    }
    ]
});

    chart.render();
}

*/


$('#show-metrics').click((e) => {
    $.get("/metrics", function (data) {
      console.log(data);
      let timestampValueArr = [];
      let timestampValueObj = {};
      for (let i = 0; i < data.length; i++) {
        // timestampValueObj.timestamp = data[i].timestamp;
        // timestampValueObj.value = data[i].value;
        timestampValueArr.push({ "timestamp": parseInt(data[i].timestamp), "value": parseInt(data[i].value) });
        console.log(timestampValueArr);
      }
      var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "dataProvider": timestampValueArr,
        "graphs": [{
          "bullet": "round",
          "type": "smoothedLine",
          "valueField": "value"
        }],
        "categoryField": "timestamp",
        "categoryAxis": {
          "parseDates": true,
          "minPeriod": "fff"
        }
      
      });
    })
});

      
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>



<body>
<div id="chartContainer" style="height: 300px; width: 100%;">
</div>

<div class="text-center">
    <button class="btn btn-secondary" type="submit" id="show-metrics">
        Get metrics
    </button>
    <div id="metrics"></div>
    <button class="btn btn-secondary" type="submit">
        Update metrics
    </button>
    <button class="btn btn-secondary" type="submit">
        Delete metrics
    </button>
    <div id="metrics"></div>
    <button class="btn btn-danger" type="submit" href="/login" onClick='document.location.href="/login"'>
        Log out
    </button>
</div>



</body>
</html>

<script>
    $('#show-metrics').click((e) => {
    e.preventDefault();
    $.getJSON("/metrics", {}, (data) => {
        const content = data.map(d => {
        return 'timestamp: '+d.timestamp+', value: '+d.value+'';
        })
        $('#metrics').append(content.join("\n"));
        console.log(content)
    });
    })

        
  </script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> 